html, body {
  margin: 0px;
  font-size: 4.5em;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  /*background-color: #414ef8;*/
  background-color: #94d500;
  color: #fff;
  /* disable text highlight */
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

@media (min-width: 0px) {
    html { font-size: 50%; }
}

@media (min-width: 300px) {
    html { font-size: 70%; }
}

@media (min-width: 500px) {
    html { font-size: 80%; }
}

@media (min-width: 700px) {
    html { font-size: 120%; }
}

@media (min-width: 1200px) {
    html { font-size: 200%; }
}

table, tr, td {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

div#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  margin: 12px;
}

div#footer a {
  text-decoration: none;
  color: #ffffff;
}

/*div#ad {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 0px auto;
  float: left;
  border: 4px solid #000;
  width: 468px;
  height: 60px;
  font-size: 10px;
  left: 0;
  right: 0;
}*/